@font-face {
	font-family: "interMedium";
	src: url("../fonts/Inter-Medium.ttf");
}

/*scroll*/
::selection {
	background: #895ffc;
	color: #fff;
	text-shadow: none;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	display: none;
}

::-webkit-scrollbar-track-piece {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #dedede;
}

::-webkit-scrollbar-thumb:vertical {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #8c1ac4;
}

/*body*/
.overflw {
	overflow: hidden;
}

[class^="box-"] {
	display: none
}

[class^="box-"].showfirst {
	display: block
}

img {
	max-width: 100%;
	height: auto;
}

a:hover {
	text-decoration: none;
	-webkit-transition: all 0.4s ease-In-out;
	-moz-transition: all 0.4s ease-In-out;
	-o-transition: all 0.4s ease-In-out;
	transition: all 0.4s ease-In-out;
}

p {
	line-height: 1.4;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	font-family: "interMedium";
}

/*botton*/
.btn-a {
	background-color: #5eba60;
	border: 2px solid #5eba60;
	border-radius: 6px;
	color: white;
	padding: 20px 40px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	display: inline-block;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.btn-a:hover {
	background: transparent;
	color: #222222;
}

/* Hamburger Menu */
.menu-Bar {
	width: 30px;
	height: 20px;
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0px;
	margin: auto;
	z-index: 22;
	display: none;
}

.menu-Bar span {
	display: block;
	height: 4px;
	width: 100%;
	background: #8C1AC4;
	position: absolute;
	transition: .6s all;
	border-radius: 100px;
}

.menu-Bar span:nth-child(1) {
	top: 0;
}

.menu-Bar span:nth-child(2) {
	top: 8px;
	transform-origin: left;
}

.menu-Bar span:nth-child(3) {
	top: 16px;
}

.menu-Bar.open span {
	background: #fff;
}

.menu-Bar.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 12px;
	transform-origin: right-center;
}

.menu-Bar.open span:nth-child(2) {
	width: 0;
	opacity: 0;
}

.menu-Bar.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 12px;
	transform-origin: right-center;
}

/*header*/
header {
	position: sticky;
	top: 0%;
	z-index: 10;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.main-header {
	padding: 20px 0px;
}

.main-header .logo img {
	width: 350px;
}

.main-header .menuWrap {
	gap: 50px;
}

.main-header .menuWrap .menu {
	display: flex;
	align-items: center;
	flex: 1 1 0;
	gap: 80px;
	margin-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;
}

.main-header .menuWrap .menu li a {
	color: #000;
	font-size: 16px;
	text-decoration: none;
}

.main-header .menuWrap .menu li.active a {
	color: #8C1AC4;
	font-weight: 700;
}

.main-header .menuWrap .header-btn>.btn {
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.2px;
	border-radius: 25px;
	background: #000;
	padding: 12px 18px;
}

/*main-banner*/

.mainBanner>.container-fluid {
	min-height: 600px;
	padding: 0%;
}

.mainBanner ul {
	padding-left: 0px;
}

.mainBanner .slider-container li {
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainBanner img {
	width: 20%;
}

.mainBanner .bg-picture {
	background-image: url("https://images.unsplash.com/photo-1603201667141-5a2d4c673378?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1496&q=80");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000db;
	background-blend-mode: darken;
}

.mainBanner h1 {
	color: #fff;
	text-align: center;
}

/* About Section */
.about {
	padding: 60px 0px;
}

.about p {
	color: #000;
	font-size: 25px;
	font-weight: 500;
	line-height: 44px;
}

/* Services Section */
.services {
	padding: 60px 0px;
}

.services .services-heading {
	margin-bottom: 60px;
}

.services .services-heading h4 {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0em;
	text-align: center;
	color: #8C1AC4;
	margin-bottom: 8px;
}

.services .services-heading h3 {
	font-weight: 600;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
	margin-bottom: 0px;
}

.services .services-body .card {
	border: none;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0000006c;
	background-blend-mode: darken;
	color: #fff;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	transition: all .3s linear;
}

.services .services-body .card:hover {
	transform: translateY(-10px);
}

.quote {
	max-width: 1100px;
	margin: auto;
	background-color: blueviolet;
	border-radius: 30px;
}

.quote p {
	padding: 40px;
	text-align: center;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
}

/* Blog Section */
.blogs {
	padding: 60px 0px;
}

.blogs .blogs-heading {
	margin-bottom: 60px;
}

.blogs .blogs-heading h4 {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0em;
	text-align: center;
	color: #8C1AC4;
	margin-bottom: 8px;
}

.blogs .blogs-heading h3 {
	font-weight: 600;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
	margin-bottom: 0px;
}

.blogs .blogs-body .card {
	border: none;
	padding: 0px 15px;
	border-radius: 10px;
	overflow: hidden;
	background-color: transparent;
}

.blogs .blogs-body .card>img {
	aspect-ratio: 12/9;
	border-radius: 10px;
}

.blogs .blogs-body .card>div {
	margin-top: 15px;
}

.blogs .blogs-body .card>div h4 {
	width: 70%;
	overflow: hidden;
	color: #000;
	font-weight: 500;
	line-height: 1.3;
}

.blogs .blogs-body .card>div button {
	border-radius: 50px;
	background: #8c1ac4b5;
	border: none;
	padding: 10px 15px;
}

.blogs .blogs-body .button-container {
	margin: auto;
	margin-top: 65px;
	width: max-content;
}

.blogs .blogs-body .button-container .btn {
	width: 178px;
	padding: 15px 0px;
	color: #FFF;
	font-size: 20px;
	font-weight: 500;
	border-radius: 40px;
	background: #000;
}

/* FAQ Section */
.faq {
	padding: 60px 0px;
}

.faq .faq-heading {
	margin-bottom: 60px;
}

.faq .faq-heading h4 {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0em;
	text-align: center;
	color: #8C1AC4;
	margin-bottom: 8px;
}

.faq .faq-heading h3 {
	font-weight: 600;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
	margin-bottom: 0px;
}

.faq .col-md-3 {
	height: fit-content;
	position: sticky;
	top: 14%;
}

.faq-div {
	width: 100%;
}

.ul.faq-ul li {
	border: solid 1px #d7ecf8;
	background-color: #ffffff;
	margin: 0 0 10px;
	box-shadow: 7px 7px 27px 0 #d7ecf8;
	border-radius: 50px;
	padding: 10px 0px;
}

.faq-h h5 {
	margin-bottom: 20px;
}

.faq-ul {
	padding-left: 0%;
	list-style-type: none;
}

.faq-h {
	padding-bottom: 50px;
}

ul.faq-ul li h4 {
	color: #101828;
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
	padding: 5px 0%;
	position: relative;
	cursor: pointer;
	padding-right: 45px;
}

ul.faq-ul li h4:after {
	content: "";
	background-image: url("../images/icons/arrow-left.png");
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 23px;
	top: 6px;
	padding: 10px;
}

ul.faq-ul li {
	background-color: transparent;
	padding: 30px 0px;
	border-bottom: 1px solid #E4E4E4;
}

ul.faq-ul li div {
	padding: 5px 0px;
	position: relative;
	display: none;
}

ul.faq-ul li p {
	width: 80%;
	color: var(--gray-900, #101828);
	font-size: 16px;
	line-height: 28px;
}

ul.faq-ul li.active h4:after {
	background-image: url("../images/icons/arrow-down.png");
}

ul.faq-ul li.active h4 {
	color: #020100;
}

.faq-sec {
	position: relative;
}

img.pros-b2 {
	position: absolute;
	right: 0;
	bottom: 0;
}

.main-faq-li {
	width: 49%;
	display: inline-block;
}

#faq .btn {
	font-size: 16px;
	display: block;
	max-width: 400px;
	color: #fff;
	background-color: #020100;
	padding: 12px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	margin: 20px auto;
}


/* Contact Form Section */

.contact-form {
	padding: 60px 0px;
}

.contact-form .contact-form-heading {
	margin-bottom: 60px;
}

.contact-form .contact-form-heading h4 {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0em;
	text-align: center;
	color: #8C1AC4;
	margin-bottom: 8px;
}

.contact-form .contact-form-heading h3 {
	font-weight: 600;
	letter-spacing: 0em;
	text-align: center;
	color: #000000;
	margin-bottom: 0px;
}

.contact-form .contact-form-body .input-container {
	display: flex;
	gap: 20px;
	width: 100%;
	margin-top: 20px;
}

.contact-form .contact-form-body .input-container label {
	width: 50%;
}

.contact-form .contact-form-body .input-container:nth-child(3) label {
	width: 100%;
}

.contact-form .contact-form-body .input-container label span {
	font-size: 16px;
	font-weight: 500;
	display: block;
	margin-bottom: 5px;
}

.contact-form .contact-form-body .input-container input {
	padding: 20px;
	font-size: 14px;
}

.contact-form .contact-form-body .input-container input,
.contact-form .contact-form-body .input-container textarea {
	display: block;
	width: 100%;
	border-radius: 50px;
	border: 1px solid #4c4c4c59;
	resize: vertical;
}

.contact-form .contact-form-body .btn-container {
	width: 100%;
	margin-top: 30px;
}

.contact-form .contact-form-body .btn-container .btn {
	width: 100%;
	padding: 10px;
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	background-color: #000;
	border-radius: 50px;
}

/*inner-pages*/

/* Portfolio Section */
.portfolio-section {
	padding: 60px 0px;
}

.portfolio-section .portfolio-section-header {
	margin-bottom: 50px;
}

.portfolio-section .portfolio-section-header h1 {
	color: #8C1AC4;
	font-size: 50px;
	font-weight: 700;
}

.portfolio-section .portfolio-section-header p {
	color: #000;
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 0%;
}

.portfolio-section .portfolio-section-header .input-feilds {
	width: 100%;
	display: inline-block;
	font-size: 16px;
	border: 1px solid gainsboro;
	padding: 8px;
	height: max-content;
}

.portfolio-section .portfolio-section-header .input-feilds:active {
	border: 1px solid black;
}

.portfolio-section .portfolio-section-header .input-submit {
	width: max-content;
	display: inline-block;
	padding: 8px 16px;
	font-size: 16px;
	background-color: #000;
	color: #fff;
	text-transform: capitalize;
	height: max-content;
}

.portfolio-section .portfolio-section-body>div {
	gap: 20px;
}

.portfolio-section .portfolio-section-body>div>div {
	flex: 1 1 calc(33.3333% - 20px);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
	border-radius: 5px;
	overflow: hidden;
}

.portfolio-section .portfolio-section-body>div>div>a {
	color: #000;
	text-decoration: none;
}

.portfolio-section .portfolio-section-body>div>div img {
	aspect-ratio: 12/9;
}

.portfolio-section .portfolio-section-body>div>div .content {
	padding: 12px 18px;
}

.portfolio-section .portfolio-section-body>div>div h4 {
	font-weight: 600;
	margin-top: 14px;
	text-decoration: none;
}

.portfolio-section .portfolio-section-body>div>div .context {
	font-size: 20px;
	font-weight: 400;
	margin-top: 14px;
	padding: 0%;
}

.portfolio-section .portfolio-section-body>div>div .tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}

.portfolio-section .portfolio-section-body>div>div .tag {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 25px;
	color: #ffffff;
	background-color: #8c1ac4b5;
	border-radius: 20px;
}

/* Portfolio detail Section */
.portfolio-detail {
	padding: 60px 0px;
}

.portfolio-detail h1 {
	color: #8C1AC4;
	font-weight: 700;
	margin-bottom: 60px;
}

.portfolio-detail p {
	font-size: 18px;
	margin-bottom: 10px;
}

.portfolio-detail p.customer,
.portfolio-detail p.detail-discription,
.portfolio-detail p.customer-opinion {
	margin-bottom: 40px;
}

.portfolio-detail span {
	font-weight: 500;
}

.portfolio-detail .tags {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}

.portfolio-detail .tag {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	padding: 10px 25px;
	color: #ffffff;
	background-color: #8c1ac4b5;
	border-radius: 20px;
}



.portfolio-detail img {
	display: block;
	margin: 10px 0px;
}

.portfolio-detail .before,
.portfolio-detail .after {
	font-size: 14px;
	font-weight: 500;
	font-style: italic;
	display: block;
}


/* Blogs Page  */
.blogs-section {
	padding: 60px 0px;
}

.blogs-section .blogs-section-header {
	margin-bottom: 50px;
}

.blogs-section .blogs-section-header h1 {
	color: #8C1AC4;
	font-weight: 700;
}

.blogs-section .blogs-section-header p {
	color: #000;
	font-size: 26px;
	font-weight: 500;
}

.blogs-section .blogs-section-cards {
	gap: 20px;
}

.blogs-section .blogs-section-cards .blogs-card {
	flex: 1 1 calc(33.3333% - 20px);
	border-radius: 5px;
	overflow: hidden;
}

.blogs-section .blogs-section-cards .blogs-card img {
	width: 100%;
	object-fit: fill;
}

.blogs-section .blogs-section-cards .blogs-card h3 {
	color: #121416;
	font-weight: 500;
	margin-top: 10px;
}

.blogs-section .blogs-section-cards .blogs-card span.date {
	color: #6C757D;
	font-size: 12px;
	font-weight: 500;
	margin-top: 10px;
}

.blogs-section .blogs-section-cards .blogs-card p {
	color: #000;
	font-size: 12px;
	margin-top: 15px;
}

.blogs-section .blogs-section-cards .blogs-card a {
	color: #121416;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	margin-top: 15px;
	padding: 10px 0px;
	border-bottom: 1px solid;
	overflow-x: hidden;
	transition: all .3s linear;
}

.blogs-section .blogs-section-cards .blogs-card a:hover {
	border: none;
	color: #8C1AC4;
}

/* Blog Page */
.blog-section {
	padding: 60px 0px;
}

.blog-section figure h1 {
	color: #121416;
	font-size: 34px;
	font-weight: 500;
	line-height: 25.318px;
	text-align: center;
}

.blog-section figure img {
	width: 100%;
	display: block;
	margin-top: 50px;
}

.blog-section figure p {
	color: #000;
	font-size: 18px;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 0;
}

.blog-section figure p::first-letter {
	text-transform: uppercase;
}

.blog-section figure p:first-child {
	margin-top: 60px;
}

.blog-section figure p:nth-child(3) {
	margin-bottom: 60px;
}

.blog-section figure span.name {
	color: #121416;
	font-size: 34px;
	font-weight: 500;
	line-height: 25.318px;
	display: block;
	margin-left: auto;
	width: max-content;
}

.blog-section figure span.designation {
	color: #939393;
	font-size: 22px;
	font-weight: 500;
	line-height: 25.318px;
	display: block;
	margin-left: auto;
	width: max-content;
	margin-top: 5px;
}

.blog-section figure span.date {
	color: #939393;
	font-size: 14px;
	font-weight: 500;
	display: block;
	margin-left: auto;
	width: max-content;
	margin-top: 14px;
}

/* Contact Page */

.contact-form.page {
	padding: 60px 0px;
}

.contact-form.page .contact-page-form-heading {
	margin-bottom: 90px;
}

.contact-form.page .contact-page-form-heading h1 {
	color: #8C1AC4;
	font-weight: 700;
}

.contact-form.page .contact-page-form-heading p {
	color: #000;
	font-size: 26px;
	font-weight: 500;
}


/*footer*/
footer {
	background-color: #8C1AC4;
	max-width: 1440px;
	margin: auto;
	padding: 90px 0px 35px;
	border-top-right-radius: 100px;
	border-top-left-radius: 100px;
}

footer img {
	width: 350px;
}

footer .d-flex {
	gap: 50px;
}

footer .d-flex .widget {
	flex: 1 1 0;
}

footer .d-flex .widget:first-child {
	flex: 4 1 0;
}

footer .d-flex .widget:nth-child(2) {
	flex: 2 1 0;
}

footer .d-flex .widget:nth-child(2) ul,
footer .d-flex .widget:nth-child(3) ul,
footer .d-flex .widget:nth-child(4) ul {
	list-style-type: none;
}

footer .d-flex .widget:nth-child(2) ul a,
footer .d-flex .widget:nth-child(3) ul a {
	text-decoration: none;
	color: #fff;
}

footer .d-flex .widget:last-child {
	flex: 2 1 0;
}

footer .d-flex .widget:first-child p {
	color: #FFF;
	font-size: 14px;
}

footer .d-flex .widget ul {
	padding-left: 0%;
}

footer .d-flex .widget h4 {
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
}

footer .d-flex .widget li {
	color: #FFF;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 18px;
}

footer .d-flex .widget li i {
	display: inline-block;
	margin-right: 10px;
}

footer li.social-link a {
	text-decoration: none;
	color: #fff;
}

.copyright {
	padding: 18px 0px;
}


/*media-quries*/
@media (max-width: 1440px) {}

@media (max-width:1200px) {
	.menu-Bar {
		display: block;
		top: 0px;
	}

	.menuWrap.open {
		display: flex;
		left: 0px;
	}

	.menuWrap {
		position: fixed;
		left: -210%;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background: #8C1AC4;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		transition: all 0.4s ease;
		z-index: 3;
		width: 100vw;
	}

	.menuWrap .menu li {
		display: block;
	}

	.menuWrap .menu li a {
		margin-bottom: 10px;
		padding: 0;
		display: block;
		text-align: center;
		margin-bottom: 15px;
		padding-right: 0px;
		margin-right: 0px;
		color: #fff;
		font-size: 15px;
		text-transform: capitalize;
	}

	.container {
		position: relative;
	}

	header .header-top {
		display: none;
	}

	header .main-header ul.menu>li {
		display: block;
		padding: 0px;
	}

	header .main-header ul.menu>li a {
		color: #fff !important;
		padding: 0px;
		text-align: left;
	}

	header .main-header ul.menu>li a:before {
		display: none;
	}

	.main-header .menuWrap .menu {
		flex-direction: column;
		flex: 0;
		text-align: left;
		gap: 30px;
	}
}

@media (max-width: 1024px) {}

@media (max-width: 980px) {}

@media (min-width: 440px) and (max-width: 740px) {}


@media (max-width: 1024px) {

	/* Foooter */

	footer {
		border-top-right-radius: 30px;
		border-top-left-radius: 30px;
	}

	footer .d-flex {
		gap: 30px;
	}

	footer .d-flex .widget {
		flex: 1 1 0;
	}

	footer .d-flex .widget:first-child {
		flex: 3 1 0;
	}

	footer .d-flex .widget:nth-child(2) {
		flex: 1 1 0;
	}

	footer .d-flex .widget:last-child {
		flex: 2 1 0;
	}

}

@media (max-width: 992px) {
	.blogs .blogs-body .card>div h4 {
		width: 100%;
		font-size: 18px;
	}
}

@media (max-width: 767px) {

	/* Home Page */

	/* About Section */

	.about .align-items-center {
		flex-direction: column-reverse;
	}

	.about p {
		margin: 20px;
		text-align: center;
	}

	/* Blog Section */
	.blogs .blogs-body .card {
		margin-bottom: 25px;
	}

	.blogs .blogs-body .card>div {
		margin-top: 20px;
	}

	.blogs .blogs-body .card>div h4 {
		margin-bottom: 0%;
	}

	/* faq Section */
	.faq .container:nth-child(2) .row {
		flex-direction: column-reverse;
	}

	.faq .col-md-3 {
		display: flex;
		align-items: center;
		justify-content: center;
		position: static;
		top: 0%;
	}

	.faq .col-md-3 img {
		height: fit-content;
		position: static;
		top: 0%;
		width: 45%;
	}

	/* Contact Form Section */

	.contact-form img {
		width: 60%;
		display: block;
		margin: 0px auto 30px;
	}


	/* Porfolio Section */

	.portfolio-section .col-md-4 {
		margin-top: 20px;
	}

	.portfolio-section .portfolio-section-body>div>div {
		flex: 1 1 calc(50% - 20px);
	}

	/* Portfolio Detail */
	.portfolio-detail .row {
		flex-direction: column-reverse;
	}

	.portfolio-detail .col-md-8 {
		margin-top: 50px;
	}

	.portfolio-detail h1 {
		margin-bottom: 20px;
	}

	.portfolio-detail img {
		width: 100%;
	}

	/* Blog Page */
	.blogs-section .blogs-section-cards {
		gap: 40px;
	}

	.blogs-section .blogs-section-cards .blogs-card {
		flex: 1 1 calc(50% - 20px);
	}

	/* Foooter */

	footer .d-flex {
		gap: 40px;
		flex-direction: column;
		text-align: center;
	}

	footer .d-flex .widget {
		flex: 1 1 0;
	}

	footer .d-flex .widget:first-child {
		flex: 3 1 0;
	}

	footer .d-flex .widget:nth-child(2) {
		flex: 1 1 0;
	}

	footer .d-flex .widget:last-child {
		flex: 2 1 0;
	}

	footer .d-flex .widget:first-child p {
		margin-top: 20px
	}
}


@media (max-width: 500px) {
	.contact-form .contact-form-body .input-container {
		flex-direction: column;
	}

	.contact-form .contact-form-body .input-container label {
		width: 100%;
	}

	.contact-form .contact-form-body .input-container label span {
		padding: 3px 10px;
	}


	/* Portfolio Page */
	.portfolio-section .portfolio-section-body>div>div {
		flex: 1 1 calc(100% - 20px);
	}

	/* Blog Page */
	.blogs-section .blogs-section-cards .blogs-card {
		flex: 1 1 calc(100% - 20px);
	}
}